/*noinspection ALL*/
.jumbotron {
    background: transparent;
    color: floralwhite;
}

#csvFileInput {
    background-color: #de615e;
    display: inline-block
}

h3 {
    color: wheat;
}

/*noinspection ALL*/
.logOutDiv {
    padding-left: 15vw;
    text-align: left;
}

/*noinspection ALL*/
#logOutBtn {
    background-color: transparent;
    z-index: 1;
    position: absolute;
    left: 0;
}

/*noinspection ALL*/
#backbtn {
    background-color: transparent;
    z-index: 1;
    position: absolute;
    left: 0;
    padding: 8px;
}

a {
    z-index: -1;
}

/*noinspection ALL*/
.backDiv {
    padding-left: 15vw;
    text-align: left;
}

th {
    color: cornsilk;
    text-align: center;
}

td {
    color: white;
}

/*noinspection ALL*/
#dataRelatedDiv {
    text-align: center;
}

/*noinspection ALL*/
.mappingInput {
    margin: 8px !important;
    padding: 8px !important;;
}

/*noinspection ALL*/
.dimmer {
    display: none;
    background: #000;
    opacity: 0.9;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

/*noinspection ALL*/
#loading {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #888 url("../gif/loader.gif") no-repeat center center;
}